name: dbt-wash CI

on:
  pull_request:
    branches:
      - master

concurrency:
  group: dbt-wash-ci-${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

permissions:
  contents: read

env:
  DBT_PROFILES_DIR: ci
  DBT_TARGET: "ci"
  PYTHON_VERSION: "3.11"

jobs:
  dbt-build:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    env:
      SF_ACCOUNT: ${{ secrets.SF_ACCOUNT }}
      SF_USER: ${{ secrets.SF_USER }}
      SF_ROLE: ${{ secrets.SF_ROLE }}
      SF_WAREHOUSE: ${{ secrets.SF_WAREHOUSE }}
      SF_DATABASE: ${{ secrets.SF_DATABASE }}
      SF_SCHEMA: DBT_CI_PR_${{ github.event.pull_request.number }}

    defaults:
      run:
        shell: bash
        working-directory: dataosphere

    steps:
      - name: Checkout PR branch
        uses: actions/checkout@v5

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: "pip"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r ../requirements.txt
          pip check

      - name: Show versions
        run: |
          python --version
          dbt --version

      - name: Debug workspace
        run: |
          pwd
          ls -la
          ls -la ./ci

      - name: Write Snowflake Private Key
        run: |
          KEY_PATH="${{ runner.temp }}/snowflake_key.p8"
          echo "SF_P8_KEY_PATH=$KEY_PATH" >> "$GITHUB_ENV"

          printf '%s' "${{ secrets.SF_P8_KEY }}" > "$KEY_PATH"
          chmod 600 "$KEY_PATH"

      - name: Show Snowflake env vars
        run: |
          echo "SF_ROLE=$SF_ROLE"
          echo "SF_WAREHOUSE=$SF_WAREHOUSE"
          echo "SF_DATABASE=$SF_DATABASE"
          echo "SF_SCHEMA=$SF_SCHEMA"

      - name: dbt deps
        run: dbt deps --profiles-dir ${{ env.DBT_PROFILES_DIR }}

      - name: dbt debug
        run: dbt debug --target ${{ env.DBT_TARGET }} --profiles-dir ${{ env.DBT_PROFILES_DIR }}

      - name: dbt build
        run: dbt build --select tag:staging tag:intermediate tag:mart tag:monitoring --target ${{ env.DBT_TARGET }} --profiles-dir ${{ env.DBT_PROFILES_DIR }}